{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "plugins": ["promise"],
  "rules": {
    "no-console": 1,
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "error",
    "promise/no-promise-in-callback": "error",
    "promise/no-callback-in-promise": "error",
    "promise/no-return-in-finally": "error",
    "prefer-arrow-callback": "error",
    "func-names": 0,
    "consistent-return": 0,
    "space-before-function-paren": 0,
    "no-else-return": 0,
    "dot-notation": ["error", { "allowPattern": "^[a-z]+(_[a-z]+)+$" }],
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-param-reassign": ["error", {"props": false}]
  }
}